<div class= "container-fluid  ">
    <div  class="row p-2 ">
<!-- sidebar content..../ -->
      <div class="col-3 ">
        <div class="sidebar">
            <ul class="navbar-nav bar-light bg-light text-center w-100 mb-2">
                <li class="nav-item dropdown">
                  <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                    <i class="fe fe-home fe-16"></i>
                    <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
                  </a>
                  <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
                    <li class="nav-item active">
                      <a class="nav-link pl-3" href="./index.html"><span class="ml-1 item-text">Default</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3" href="./dashboard-analytics.html"><span class="ml-1 item-text">Analytics</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3" href="./dashboard-sales.html"><span class="ml-1 item-text">E-commerce</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-3" href="./dashboard-system.html"><span class="ml-1 item-text">Systems</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
          <ul class="navbar-nav avbar-light bg-light text-center w-100 mb-2">
              <li class="nav-item">
                <a href="#" class="list-group-item list-group-item-action active">
                    Profile
                  </a>
                  <a href="#" class="list-group-item list-group-item-list">Admin</a>
                  <a href="#" class="list-group-item list-group-item-list">Sellers</a>
                  <a href="#" class="list-group-item list-group-item-list">Buyers</a>
            </li>
    
            <li class="nav-item">
                <a href="#" class="list-group-item list-group-item-action active">
                   Pages
                  </a>
                  <a href="#" class="list-group-item list-group-item-list">Home</a>
                  <a href="#" class="list-group-item list-group-item-list">Proudcts</a>
                  <a href="#" class="list-group-item list-group-item-list">Categories</a>
            
            </li>
          </ul>
            <ul class="navbar-nav bar-light bg-light text-center w-100 mb-2">
            <li class="nav-item">
              <a href="#auth" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                <i class="fe fe-shield fe-16"></i>
                <span class="ml-3 item-text ">Authentication</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="auth">
                <a class="nav-link pl-3" href="./auth-login.html"><span class="ml-1">Login 1</span></a>
                <a class="nav-link pl-3" href="./auth-register.html"><span class="ml-1">Register</span></a>
                <a class="nav-link pl-3" href="./auth-resetpw.html"><span class="ml-1">Reset Password</span></a>
                <a class="nav-link pl-3" href="./auth-confirm.html"><span class="ml-1">Confirm Password</span></a>
              </ul>
            </li>
          </ul>
        </div>
    </div>

<!-- main content..../ -->
    <div class="col-6 ">
        <div class="main-content">
            <div class="row1">
                <div class="card shadow">
                  <div class="card-header">
                    <strong class="card-title">New Users</strong>
                    <a class="float-right small text-muted" href="#!">View all</a>
                  </div>
                  <div class="card-body my-n2">
                    <table class="table table-striped table-hover table-borderless">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Address</th>
                          <th>Date</th>
                          <th>User Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2474</td>
                          <th scope="col">Brown, Asher D.</th>
                          <td>Ap #331-7123 Lobortis Avenue</td>
                          <td>13/09/2020</td>
                          <td>Buyer
                          </td>
                        </tr>
                        <tr>
                          <td>2786</td>
                          <th scope="col">Leblanc, Yoshio V.</th>
                          <td>287-8300 Nisl. St.</td>
                          <td>04/05/2019</td>
                          <td>Seller
                          </td>
                        </tr>
                        <tr>
                          <td>2747</td>
                          <th scope="col">Hester, Nissim L.</th>
                          <td>4577 Cras St.</td>
                          <td>04/06/2019</td>
                          <td>Admin
                          </td>
                        </tr>
                        <tr>
                          <td>2639</td>
                          <th scope="col">Gardner, Leigh S.</th>
                          <td>P.O. Box 228, 7512 Lectus Ave</td>
                          <td>04/08/2019</td>
                          <td>Seller
                          </td>
                        </tr>
                        <tr>
                          <td>2238</td>
                          <th scope="col">Higgins, Uriah L.</th>
                          <td>Ap #377-5357 Sed Road</td>
                          <td>04/01/2019</td>
                          <td>Buyer
                         </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row2"> </div>
              <p>sfbdkbfrbg</p>    
        </div>
         </div>

 <!-- right bar content..../ -->    
    <div class="col-3 ">
        <div class="right-bar">
            <div  class="row p-0 ">   
                <div class="card timeline shadow">
                  <div class="card-header">
                    <strong class="card-title">Recent Activity</strong>
                    <a class="float-right small text-muted" href="#!">View all</a>
                  </div>
                  <div class="card-body" data-simplebar style="height:355px; overflow-y: auto; overflow-x: hidden;">
                    <h6 class="text-uppercase text-muted mb-4">Today</h6>
                    <div class="pb-3 timeline-item item-primary">
                      <div class="pl-5">
                        <div class="mb-1"><strong>@Brown Asher</strong><span class="text-muted small mx-2">Just create new layout Index, form, table</span><strong>Tiny Admin</strong></div>
                        <p class="small text-muted">Creative Design <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                    <div class="pb-3 timeline-item item-warning">
                      <div class="pl-5">
                        <div class="mb-3"><strong>@Hester Nissim</strong><span class="text-muted small mx-2">has upload new files to</span><strong>Tiny Admin</strong></div>
                        <div class="row mb-3">
                          <div class="col"><img src="./assets/products/p1.jpg" alt="..." class="img-fluid rounded"></div>
                          <div class="col"><img src="./assets/products/p2.jpg" alt="..." class="img-fluid rounded"></div>
                          <div class="col"><img src="./assets/products/p3.jpg" alt="..." class="img-fluid rounded"></div>
                          <div class="col"><img src="./assets/products/p4.jpg" alt="..." class="img-fluid rounded"></div>
                        </div>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                    <div class="pb-3 timeline-item item-success">
                      <div class="pl-5">
                        <div class="mb-3"><strong>@Kelley Sonya</strong><span class="text-muted small mx-2">has commented on</span><strong>Advanced table</strong></div>
                        <div class="card d-inline-flex mb-2">
                          <div class="card-body bg-light py-2 px-3 small rounded"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim nulla eu quam cursus placerat. Vivamus non odio ullamcorper, lacinia ante nec, blandit leo. </div>
                        </div>
                        <p class="small text-muted">Back-End Development <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                    <h6 class="text-uppercase text-muted mb-4">Yesterday</h6>
                    <div class="pb-3 timeline-item item-warning">
                      <div class="pl-5">
                        <div class="mb-3"><strong>@Fletcher Everett</strong><span class="text-muted small mx-2">created new group for</span><strong>Tiny Admin</strong></div>
                        <ul class="avatars-list mb-3">
                          <li>
                            <a href="#!" class="avatar avatar-sm">
                              <img alt="..." class="avatar-img rounded-circle" src="./assets/avatars/face-1.jpg">
                            </a>
                          </li>
                          <li>
                            <a href="#!" class="avatar avatar-sm">
                              <img alt="..." class="avatar-img rounded-circle" src="./assets/avatars/face-4.jpg">
                            </a>
                          </li>
                          <li>
                            <a href="#!" class="avatar avatar-sm">
                              <img alt="..." class="avatar-img rounded-circle" src="./assets/avatars/face-3.jpg">
                            </a>
                          </li>
                        </ul>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                    <div class="pb-3 timeline-item item-success">
                      <div class="pl-5">
                        <div class="mb-3"><strong>@Bertha Ball</strong><span class="text-muted small mx-2">has commented on</span><strong>Advanced table</strong></div>
                        <div class="card d-inline-flex mb-2">
                          <div class="card-body bg-light py-2 px-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim nulla eu quam cursus placerat. Vivamus non odio ullamcorper, lacinia ante nec, blandit leo. </div>
                        </div>
                        <p class="small text-muted">Back-End Development <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                    <div class="pb-3 timeline-item item-danger">
                      <div class="pl-5">
                        <div class="mb-3"><strong>@Lillith Joseph</strong><span class="text-muted small mx-2">has upload new files to</span><strong>Tiny Admin</strong></div>
                        <div class="row mb-3">
                          <div class="col"><img src="./assets/products/p4.jpg" alt="..." class="img-fluid rounded"></div>
                          <div class="col"><img src="./assets/products/p1.jpg" alt="..." class="img-fluid rounded"></div>
                          <div class="col"><img src="./assets/products/p2.jpg" alt="..." class="img-fluid rounded"></div>
                        </div>
                        <p class="small text-muted">Front-End Development <span class="badge badge-light">1h ago</span>
                        </p>
                      </div>
                    </div>
                  </div> <!-- / .card-body -->
                </div> <!-- / .card -->
           </div>
         </div>
     </div>

    </div>
</div>
